.idea
composer.lock

vendor/
ssl/

httpdocs/img/users/profile/*_profile.*
httpdocs/img/users/uploads/*_profile.*

application/tmp/*.xml
application/tmp/*.txt
application/tmp/*.csv
application/tmp/*.pdf
application/tmp/*.lock
application/tmp/*.json
application/tmp/*.json5
application/tmp/*.jsonl

application/logs/log-*
application/logs/*.txt